<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">购物界面{{username}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>描述</h2>
      <p>
        左边选择商品，右边会自动推荐对应的商品
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-4">
          <div class="dropdown">
            <button
              class="btn btn-primary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
            >
              品牌
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">A</a>
              <a class="dropdown-item" href="#">B</a>
              <a class="dropdown-item" href="#">C</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="dropdown">
            <button
              class="btn btn-primary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
            >
              类型
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">A</a>
              <a class="dropdown-item" href="#">B</a>
              <a class="dropdown-item" href="#">C</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="dropdown">
            <button
              class="btn btn-primary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
            >
              尺码
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">A</a>
              <a class="dropdown-item" href="#">B</a>
              <a class="dropdown-item" href="#">C</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="defaultCheck1"
            />
            <label class="form-check-label" for="defaultCheck1">
              <div class="row">
                <div class="col-md-6">
                  <img
                    alt="Bootstrap Image Preview"
                    src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg"
                  />
                </div>
                <div class="col-md-6">
                  <dl>
                    <dt>Description lists</dt>
                    <dd>这是示例商品</dd>
                    <dt>Euismod</dt>
                  </dl>
                </div>
                <!-- 这是多选框 -->
                <!-- -->
              </div>
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12"></div>
      </div>
      <nav>
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#">Previous</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">4</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">5</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img
              class="card-img-top"
              alt="Bootstrap Thumbnail First"
              src="https://www.layoutit.com/img/people-q-c-600-200-1.jpg"
            />
            <div class="card-block">
              <h5 class="card-title">推荐商品1</h5>
              <p class="card-text">
                这个是商品1
              </p>
              <p>
                <a class="btn btn-primary" href="#">购买</a>
                <a class="btn" href="#">不感兴趣</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img
              class="card-img-top"
              alt="Bootstrap Thumbnail Second"
              src="https://www.layoutit.com/img/city-q-c-600-200-1.jpg"
            />
            <div class="card-block">
              <h5 class="card-title">推荐商品2</h5>
              <p class="card-text">
                这里是描述
              </p>
              <p>
                <a class="btn btn-primary" href="#">购买</a>
                <a class="btn" href="#">不感兴趣</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img
              class="card-img-top"
              alt="Bootstrap Thumbnail Third"
              src="https://www.layoutit.com/img/sports-q-c-600-200-1.jpg"
            />
            <div class="card-block">
              <h5 class="card-title">推荐商品3</h5>
              <p class="card-text">
                这里是描述
              </p>
              <p>
                <a class="btn btn-primary" href="#">购买</a>
                <a class="btn" href="#">不感兴趣</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CSS -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
  integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
  crossorigin="anonymous"
/>
<!-- jQuery and JS bundle w/ Popper.js -->
<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
  crossorigin="anonymous"
></script>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>new Vue({
  el: '#example-6',
  data: {
    selected: []
  }
})</script>